*{

    Margin:0;
    
    Padding:0;
    
    Border:0;
    
    }

.bodySection{
    width: 100%;
    height: 450px;
}

.hero{
background-color: #AB6D23;
    display:flex;
    
    
    
}

.header-bar{
    width: 100%;
    height: 100px;
    background-color:#AB6D23;

}

.hero-rightside{

    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    width: 1421px;
    

}
.heroMain{
   
    font-size: 48px;
    font-weight: bolder;
    color: white;
    width: 50%;
    margin-top: 30px;
    margin-left: -100px;

}
.heroFlavor{

    width:50%;
    color: lightgrey;
    margin-left: -100px;
}

.heroImage{ 
    
    margin-bottom: 20px;
    margin-right: 30px;
}

#heroButton{
    
    background: #F78812;
    text-decoration: none;
    font-weight: 300;
    border-radius:2em;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    text-align:center;
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255,255,255,0);
    margin-top: 10px;
    margin-left: -700px;
}
#heroButton:hover{
    border-color: rgba(255,255,255,1);
}


a:link{
    color: white;
    text-decoration:none;   
}
a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #51050F;
}

.header-links{
    font-size: 18px;
    float: right;
    display: flex;
   margin-right: 200px;

}

.headerlinkone,
.headerlinktwo,
.headerlinkthree{
    padding: 20px 10px 20px 10px;
    margin: 10px;
    
}

.testomonialSection{
    background-color: #F78812;
    display: flex;
    flex-direction: column;
}

.testimonialHeadContainer{
    margin-top: 30px;
}
.testimonialHeader{
    color:white;
    font-size: 36px;
    font-weight: bolder;
    
    text-align: center;
}

.quote-section{
    background-color: #E02401;
    width: 100%;
    height: 550px;
}

.information-section{
    background-color: white;
    width: 100%; 
    height: 550px;
}

.custImg{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius:10px;
    border-color: #51050F;
    border-width: 5px;
    border-style: solid;
}

.customerPhotos{
    display:flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 450px;
    margin-top:10px;    
}

.testimonialText{
    display: flex;
    line-height: .9;
    width: 50%;
    width: 900px;
    padding-left: 477px;
    margin-top: 10px;
    font-size: 14px;

    align-content: space-evenly;
    gap: 89px;
}


/*.testimonialText{
    display: flex;
    line-height: 1;
    width: 50%;
    font-weight:600;
    padding-left:479px;
    margin-top:10px;
    justify-content: space-evenly;
    font-size: 14px;
    text-align: center;
}
*/




.testimony{
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: white;
   
}


.burgericon{
    
    height: 100px;
    width: auto;
    margin-left: 300px;
    margin-top: 20px;
}


#testimony1,
#testimony2,
#testimony3,
#testimony4{
    display: flex;
    width: 210px;
;
    
}

#bodysection.quoteSection{
    display: flex;
}
#mainQuote,
#squotedPerson{
    font-size: 66px;
    

}
